{% extends "layout.html" %}
{% block title %} About Us {% endblock %}

{% block body %}

<div class="jumbotron-fluid text-center">
    <div style="margin-top: 2%";>
        <h1 align = "center"> About FirstClass </h1>
    </div>
    <br />
    <div id = "about" style="font-size: 25px;">
        <blockquote>
            "The good thing about flying is that, it's never boring."
        </blockquote>
        <p>
            Nurtured from the love for flying, FirstClass intends to offer the best flights for all who love flying around the world.
        </p>
        <br />
        <p>
            FirstClass is the brainchild of Raksha Pawar, in the year 2019 as her Engineering Mini Project in the Third year. A lover of flying herself, she wishes to offer the best services to all who wish to travel around the world.
        </p>
        <br />
        <p>
            Just like it's name, FirstClass offers services that are only found in Business class of planes or to VIP customers because FirstClass believes that every person deserves to have a first class treatment and a happy journey full of amazing memories.
        </p>
        <br />
            <strong>In the end, it's all about travelling... </strong>
    </div>
    <br />
    <div class="doodle">
        <img src="http://127.0.0.1:5000/static/images/doodle.jpg" alt="doodle" />
    </div>
</div>

{% endblock %}
