{%extends "layout.html"%}
{%block title%} Help {%endblock%}


{% block body %}
<div class="jumbotron-fluid" style="left-align:10">
    <h2 style="text-align:center;color:black"> Help </h2>
<br />
    <h4>Q1. Who can use FirstClass? </h4>
    <p>
        Ans: This website can be used by anyone who wants to travel to any place via flights.
    </p>
    <br />
    <h4>Q2. How to go about this website? </h4>
    <p>
        Ans: The Home page can be used to search for available flights but to book a flight, the users need to make an account on the website by entering the required details and book their desired flight.
    </p>
    <br />
    <h4>Q3. Why to use FirstClass? </h4>
    <p>
        Ans: FirstClass offers you flight bookings to any destination at comparatively cheaper rates than other sites. It also ensures that you get the VIP treatment that you deserve.
    </p>
</div>


{% endblock %}
